@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Style+Script&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));

html {
  background:#f3f4f6;
}
/* #e5e7eb */

body {
  font-family: "Inter", sans-serif;
}

.logo-font {
  font-family: "Style Script", cursive;
}

a.active {
  /* color: #4300FF; */
  font-weight: 600;
  background: hsla(245, 76%, 50%, 0.070);
}

.dark a.active {
  /* color: #4300FF; */
  font-weight: 600;
  background: hsla(245, 76%, 50%, 0.190);
}

.demo {
  color: #141414
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* --color-primary: #3120E0; */
  --color-primary: #155dfc;
  --color-primary-dark: #193cb8;

  /* #f3f4f6 #f9fafb */
  --color-text-primary: #000000;
  --color-text-primary-dark: #f3f4f6;

  --color-text-secondary: #364153;
  --color-text-secondary-dark: #d1d5dc;

--color-border-dark: #364153;
--color-border: #d1d5dc;

  --color-bg-card: white;
  --color-bg-card-dark: #0F0138;

  --color-bg: #FCFCFC;
  --color-bg-dark: #0C002E;


  --color-secondary: #0E2148;
  --color-accent: #4300FF;
  --color-accent-two: #f9fafb;
}