@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

html {
  background:#f3f4f6;
}
/* #e5e7eb */

body {
  font-family: "Inter", sans-serif;
}

a.active {
  color: #4300FF;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: white;
  --color-secondary: #0E2148;
  --color-accent: #4300FF;
}